
  <div class="card">
    <h5 class="card-header">Round <%= round.id%></h5>
    <div class="card-body">
      <h5>Winners </h5>
      <p>
        <% round.winners.each do |gamble|%>
          <%= link_to gamble.player.name, player_path(gamble.player)%>
          <span class="card-text text-success">: <%= gamble.player.cash%></span>
        <% end %>
      </p>
    </div>
  </div>