<ul class="nav justify-content-center">
  <li class="nav-item">
    <%= link_to 'Add player', new_player_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
   <%= link_to 'All players',players_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
   <%= link_to 'Home',root_path, class: "nav-link"%>
  </li>
</ul>