<% @players.each do |player|%>
  <div class="player" >
    <div class="col-md-12">
      <div class="row">
        <%= link_to player.name, player_path(player), class: 'btn btn-info' %>
        <div class="bet-color ml-3" style="background-color: <%=player.gamble_color(@round.id)%>"></div>
      </div>
      <h5 class="text-dark pt-3 cash">cash: $<%= player.cash%></h5>
      <h5 class="text-dark bet-amount">bet: $0</h5>
      <h5 class="text-dark prize">prize: $<%= player.prize(@round.id)%></h5>
    </div>
  </div>
<% end %>